ConsoleProdCitas/ConsoleProdCitas/Web References/sw_taskappoint/sw_taskappoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://jalcom.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://jalcom.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://jalcom.org/">
      <s:element name="TaskAppoint">
        <s:complexType />
      </s:element>
      <s:element name="TaskAppointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TaskAppointResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TaskAppointSoapIn">
    <wsdl:part name="parameters" element="tns:TaskAppoint" />
  </wsdl:message>
  <wsdl:message name="TaskAppointSoapOut">
    <wsdl:part name="parameters" element="tns:TaskAppointResponse" />
  </wsdl:message>
  <wsdl:message name="TaskAppointHttpGetIn" />
  <wsdl:message name="TaskAppointHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TaskAppointHttpPostIn" />
  <wsdl:message name="TaskAppointHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="sw_taskappointSoap">
    <wsdl:operation name="TaskAppoint">
      <wsdl:input message="tns:TaskAppointSoapIn" />
      <wsdl:output message="tns:TaskAppointSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="sw_taskappointHttpGet">
    <wsdl:operation name="TaskAppoint">
      <wsdl:input message="tns:TaskAppointHttpGetIn" />
      <wsdl:output message="tns:TaskAppointHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="sw_taskappointHttpPost">
    <wsdl:operation name="TaskAppoint">
      <wsdl:input message="tns:TaskAppointHttpPostIn" />
      <wsdl:output message="tns:TaskAppointHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sw_taskappointSoap" type="tns:sw_taskappointSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TaskAppoint">
      <soap:operation soapAction="http://jalcom.org/TaskAppoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sw_taskappointSoap12" type="tns:sw_taskappointSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TaskAppoint">
      <soap12:operation soapAction="http://jalcom.org/TaskAppoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sw_taskappointHttpGet" type="tns:sw_taskappointHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="TaskAppoint">
      <http:operation location="/TaskAppoint" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sw_taskappointHttpPost" type="tns:sw_taskappointHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="TaskAppoint">
      <http:operation location="/TaskAppoint" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sw_taskappoint">
    <wsdl:port name="sw_taskappointSoap" binding="tns:sw_taskappointSoap">
      <soap:address location="http://172.100.100.167/SW_TASKAPPOINT/sw_taskappoint.asmx" />
    </wsdl:port>
    <wsdl:port name="sw_taskappointSoap12" binding="tns:sw_taskappointSoap12">
      <soap12:address location="http://172.100.100.167/SW_TASKAPPOINT/sw_taskappoint.asmx" />
    </wsdl:port>
    <wsdl:port name="sw_taskappointHttpGet" binding="tns:sw_taskappointHttpGet">
      <http:address location="http://172.100.100.167/SW_TASKAPPOINT/sw_taskappoint.asmx" />
    </wsdl:port>
    <wsdl:port name="sw_taskappointHttpPost" binding="tns:sw_taskappointHttpPost">
      <http:address location="http://172.100.100.167/SW_TASKAPPOINT/sw_taskappoint.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>